.task-list {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  margin-bottom: 2px;
  padding: 5px;
}

.task-list li.taken-by-me {
  background-color: orange;
}

.task-list li.taken {
  background-color: lightgrey;
}

.task-list li.available {
  background-color: lightblue;
}

.task-list li.completed {
  background-color: lawngreen;
}

.task-list li a {
  float: right;
  padding-left: 2em;
}

.task-list li div {
  background-color: #ddd
}